.o-circle {
    display: block;
    width: 160px;
    height: 160px;
    border: 45px solid $c-blue;
    border-radius: 50%;
    
    @media screen and ( max-width: $tablet + px ) {
        width: get-vw-tablet(160);
        height: get-vw-tablet(160);
        border-width: get-vw-tablet(45);
    }
    
    
    &--down {
        transform: translateY(150%);
    }
    
    &--line {
        &:after {
            @extend %abs;
            @extend %abs-y;
            @extend %abs-after;
            width: 100vw;
            height: 46px;
            background-color: $c-blue;
            border-radius: 46px;
            
            @media screen and ( max-width: $tablet + px ) {
                height: get-vw-tablet(46);
            }
        }
    }
    
    &--left {
        &:after {
            right: 155px;
            
            @media screen and ( max-width: $tablet + px ) {
                right: get-vw-tablet(155);
            }
        }
    }
    
    &--right {
        &:after {
            left: 155px;
            
            @media screen and ( max-width: $tablet + px ) {
                left: get-vw-tablet(155);
            }
        }
    }
    
    &--white {
        border-color: white;
    }
}
