.o-circle {
    display: block;
    width: 160px;
    height: 160px;
    border: 45px solid $c-blue;
    border-radius: 50%;
    
    &--down {
        transform: translateY(150%);
    }
    
    &--line {
        &:after {
            @extend %abs;
            @extend %abs-y;
            @extend %abs-after;
            width: 400px;
            width: 100vw;
            height: 46px;
            background-color: $c-blue;
            border-radius: 46px;
        }
    }
    
    &--left {
        &:after {
            right: 155px;
        }
    }
    
    &--right {
        &:after {
            left: 155px;
        }
    }
    
    &--white {
        border-color: white;
    }
}
