.o-header {

    &__primary {
        @extend %rel;
        font: {
            size: rem(40);
            weight: $bold;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: get-vw-tablet-portrait(40);
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            font-size: rem(24);
        }
    }
    
    &__secondary {
        @extend %rel;
        line-height: 1.4;
        font: {
            size: rem(22);
            weight: $bold;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: get-vw-tablet-portrait(22);
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            //font-size: get-vw-smartphone-portrait(22);
            font-size: rem(18);
        }
    }
    
    &__third {
        line-height: 1.4;
        font: {
            size: rem(18);
            weight: $bold;
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            font-size: get-vw-tablet-portrait(18);
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            font-size: rem(18);
        }
    }
    
    &__primary,
    &__secondary {
        
    }
    
    &__line {
        padding-left: 100px;
        transition-delay: 2s;
        
        @media screen and ( max-width: $tablet + px ) {
            padding-left: grid(100, $tablet);
        }

        &:before {
            @extend %abs;
            @extend %abs-after;
            @extend %abs-y;
            @extend %anim-slow;
            left: 0;
            width: 80px;
            height: 5px;
            margin-top: -4px;
            transform: scale3d(0, 1, 1);
            transform-origin: right;
            
            @media screen and ( max-width: $tablet + px ) {
                width: grid(80, $tablet);
            }
        }

        &.anim--loaded {
        
            &:before {
                transform: scale3d(1, 1, 1);
                transform-origin: right center;
            }
        }

        &--blue {
            &:before {
                background-color: $c-blue;
            }
        }
        
        &--navy {
            &:before {
                background-color: $c-navy;
            }
        }
    }    
    
    &--margin {
        margin-bottom: 100px;
    }
}