.icon-of:before {
  content: "\e90c";
}
.icon-arrow--right:before {
  content: "\e900";
}
.icon-avatar:before {
  content: "\e901";
}
.icon-bottle:before {
  content: "\e902";
}
.icon-clock:before {
  content: "\e903";
}
.icon-direction:before {
  content: "\e904";
}
.icon-document:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-envelope-circle:before {
  content: "\e907";
}
.icon-envelope:before {
  content: "\e908";
}
.icon-lens:before {
  content: "\e909";
}
.icon-money:before {
  content: "\e90a";
}
.icon-stats:before {
  content: "\e90b";
}
