.o-indent {
    @extend %rel;
    max-width: 1900px;
    padding-left: 60px;
    color: white;

    @media screen and ( max-width: $smartphone_portrait + px ) {
        padding-left: 0;
    }
    
    &__col {
        width: 50%;
        
        &--right {
            @extend %rel;
            max-width: 600px;
            padding-left: 110px;
            padding-right: 10px;
            color: white;
            
            @media screen and ( max-width: $base + px ) {
                padding-left: grid(110, $base - 130);
            }
        }
    }
    
    &__item {
        @extend %flex;
        @extend %rel;
        background-color: $c-blue;
        padding-right: 60px;
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            padding-right: 20px;
        }
    }
}