.o-list {
    @extend %flex;
    @extend %flex-wrap;

    &__item {        
        width: grid(580, $base - 20);
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            width: 100%;
            padding-right: 20px;
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            padding-right: 0;
        }
       
        &:nth-child(even) {
            dd, i {
                transition-delay: 400ms;
            }
        }
        
        &:nth-child(odd) {
            width: grid(600, $base - 20);
            padding-right: 20px;    
            
            @media screen and ( max-width: $tablet_portrait + px ) {
                width: 100%;
            }
            
            @media screen and ( max-width: $smartphone_portrait + px ) {
                padding-right: 0;
            }
        }
        
        i {
            font-size: rem(60);
        }     

        p {
            line-height: 1.6;
            font-size: rem(14);
        }
        
        dl {
            @extend %flex;
            @extend %flex-wrap;
        }
        
        dd {
            
            margin-bottom: 45px;
            padding-bottom: 45px;
            
            @media screen and ( min-width: $smartphone_portrait + 1px ) {
                flex: 1;
            }
            
            @media screen and ( max-width: $smartphone_portrait + px ) {
                text-align: center;
            }
        }
        
        &:last-child,
        &:nth-last-child(2) {
            dd {
                border: none;
            }   
        }
        
        dt {
            width: 100px;
            padding-right: 20px;
            text-align: center;
            
            @media screen and ( max-width: $smartphone_portrait + px ) {
                width: 100%;
                margin-bottom: 40px;
                padding: 0;
            } 
            
            img {
                width: 120px;
                margin: 0 auto;
                border-radius: 50%;
            }
        }        
        
        .o-header__secondary {
            font-weight: $bold;
        }
    }
    
    &--big {
        dt {
            width: 200px;    
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {            
            dt {
                width: 100%;
                padding: 0;
            }
        }
    }
    
    &--other {
        @media screen and ( max-width: $smartphone_portrait + px ) {
            dd {
                width: 100%;
                margin-bottom: 0;
                padding-bottom: 45px;
            }
        }
    }
    
    &--primary {
    
        dd {
            @media screen and ( max-width: $smartphone_portrait + px ) {
                padding: {
                    left: 10px;
                    right: 10px;
                }
            }
        }
        dt {
            img {
                width: 160px;
            }
        }
    }
}

