.c-arch {
    font-size: rem(14);
    color: $c-blue2;
    
    @media screen and ( max-width: $smartphone + px ) {
        width: 100%;
        margin-bottom: 10px;
    }

    ul {
    
        @extend %flex;
        
        @media screen and ( max-width: $smartphone + px ) {
            flex-wrap: wrap;
            
        }
    }

    li {
        
        @media screen and ( min-width: $smartphone + 1px ) {
            margin-right: 36px;
        }
        
        @media screen and ( max-width: $smartphone + px ) {
            width: 33%;
            margin-bottom: 5px;
            text-align: center;
        }
        
        &:first-child {
            transition-delay: 100ms;
            color: $c-blue;
            
            a {
                &:after, &:before {
                    background-color: $c-blue2;
                }
            }
        }
        
        &:nth-child(2) {
            transition-delay: 200ms;
        }
        
        &:nth-child(3) {
            transition-delay: 300ms;
        }
        
        &:nth-child(4) {
            transition-delay: 400ms;
        }
        
        &:nth-child(5) {
            transition-delay: 500ms;
        }
        
        &:nth-child(6) {
            transition-delay: 600ms;
        }
        
        &:nth-child(7) {
            transition-delay: 700ms;
        }
        
        &:nth-child(8) {
            transition-delay: 800ms;
        }
        
        a {            
            &:after, &:before {
                background-color: $c-blue2;
            }
        }
    }
}