.c-article {
    
    &__content {
        width: grid(680, $base - 20);
        padding-left: 100px;
        
        @media screen and ( max-width: $tablet + px ) {
            padding-left: grid(100, $tablet);
        }
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            width: 100%;
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) {
            padding-left: 0;
        }
        
        p {
            margin-bottom: 2em;
        }
        
        &--big {
            p {
                
                
                @media screen and ( min-width: $smartphone_portrait + 1px ) {
                    font-size: rem(22);
                }
            }
        }
        
        .o-header {
            &__secondary {
                margin-bottom: 10px;
            }
        }
    }
}