.c-contact {

    .o-indent {
        @media screen and ( max-width: $tablet + px ) {
           padding-left: 0; 
        }
        
        &__col {
            @media screen and ( max-width: $tablet + px ) {
                width: 100%;
            }

            &--left {
                @media screen and ( max-width: $tablet + px ) {
                    height: 400px;
                }
            }

            &--right {
                max-width: none;
                
                @media screen and ( max-width: $tablet + px ) {
                    padding: {
                        right: 10px; 
                        left: 10px;
                    }
                }
            }
        }
        
        &__item {
            @media screen and ( max-width: $tablet + px ) {
                flex-wrap: wrap;
                padding-right: 0;
            }
        }
    }

    .o-list {

        a {
            @extend %ulink;
            
            &:after, &:before {
                background-color: white;
            }
        }

        dd {
            @media screen and ( min-width: $tablet + 1px ) {
                border-bottom: 1px solid white;
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                width: 100%;
            }
        }
        
        p {
            margin-bottom: 4px;
        }        
        
        .o-header {
            &__secondary {
                margin-bottom: 10px;
            }
        }
        
        .u-borderline {

            &:not(:last-of-type) {
                margin-bottom: 10px;
                padding-bottom: 10px;

                &:after {
                    background-color: white;
                    
                    @media screen and ( max-width: $smartphone + px ) {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        
        &__item {
            @media screen and ( min-width: $tablet + 1px ) {
                padding-right: 20px;
            }
            
            @media screen and ( min-width: $tablet + 1px ) {
                width: 100%;
            }
            
            @media screen and ( max-width: $tablet + px ) {
                margin-bottom: 60px;
            }

            dd {
                @media screen and ( max-width: $tablet + px ) {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
            

            &:last-child {
                width: 100%;

                dd {
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    
    
}
