.c-edu {
    .o-list {
        .o-header__secondary {
            margin-bottom: 10px;
        }
    
        p {
            font-size: rem(18);
        }
        
        &__item {
            dd {
                border-bottom: 1px solid $c-blue;
            }
            
            &:last-child,
            &:nth-last-child(2) {
                dd {
                    border: none;
                }   
            }
        }
    }
}