.c-history {
    background-color: $c-navy;
    margin: 170px 0 50px 0;
    color: white;
    
    @media screen and ( min-width: $tablet + 1px ) {
        height: 730px;
    }
    
    &__content {
        @extend %flex;
        justify-content: flex-end;
    }
    
    &__photo {
        @extend %abs;
        left: -290px;
        bottom: -60px;
        width: 880px;
        overflow: hidden;
        
        .swiper-slide {
            width: 880px; height: 560px;
            background-size: cover;
            background-position: center;

        }
        
        @media screen and ( max-width: $base + px ) {
            left: 410px;
            top: 0;
            bottom: auto;
            top: 0;
            height: 100%;
            opacity: .1;
            
            img {
                height: 100%;
            }
            
            .swiper-slide,
            .swiper-container,
            .swiper-wrapper {
                height: 100%;
            }
        }
        
        @media screen and ( max-width: $tablet + px ) {
            left: 0;
            width: 100%;
        }
        
    }
    
    &__text {
        width: 480px;
        
        @media screen and ( max-width: $tablet + px ) {
            width: 100%;
            padding-left: 300px;
        }
        
        @media screen and ( max-width: $smartphone + px ) {
            padding: {
                left: grid(100, $tablet);
                right: grid(100, $tablet);
            }
        }
        
        @media screen and ( max-width: $smartphone_portrait + px ) { 
            padding: {
                left: 10px;
                right: 10px;
            }
        }
        
        p {
            line-height: 1.8;
            font-size: rem(14);
        }
        
        .o-header__secondary {
            margin-bottom: 10px;
        }
    }
    
    .o-header {
        margin-bottom: 130px;
        
        @media screen and ( max-width: $tablet + px ) {
            margin-bottom: 50px;
        }
    }
    
    .o-wrap {
        height: 100%;

        &:after {
            @extend %abs;
            @extend %abs-after;
            z-index: -1;
            top: 0; left: 410px;
            width: 100%;
            height: 100%;
            background-color: $c-blue;
            
            @media screen and ( max-width: $tablet + px ) {
                display: none;
                //left: 0; top: 380px;
                //height: calc(100% - 380px);
            }
        }
    }
    
    
}

