.c-newsindex {
    margin-bottom: 40px;
    
    /*
&__content {
        @media screen and ( max-width: $base + px ) {
            padding: {
                left: 10px; 
                right: 10px;
            }
        }
    }
*/
    
    &__item {
        @extend %rel;
        width: grid(480, $base - 20);
        margin-bottom: 40px;
        
        @media screen and ( max-width: $tablet_portrait + px ) {
            width: 100%;
        }        

        &:nth-child(odd) {
            margin-right: grid(120, $base - 20);
            
            &:after {
                @extend %abs;
                @extend %abs-after;
                @extend %anim-slow;
                top: 0;
                right: grid(-60, 480);
                width: 1px; height: calc(100% + 40px);
                background-color: $c-blue;
                transform-origin: top;
                transform: scale3d(1, 0, 1);
                
                @media screen and ( max-width: $smartphone + px ) {
                    display: none;
                }
            }
            
            &:last-child {
                &:after {
                    height: 100%;
                }
            }         
        }
        
        &.anim--loaded {
            &:after {
                transform: scale3d(1, 1, 1);
            }
        }
    }
    
    &__list {
        @extend %flex;
        @extend %flex-wrap;

        img {
            @extend %anim;
        }

        dl {
            @extend %flex;
           // @extend %flex-wrap;            
        }
        
        dt {
            @extend %rel;
            overflow: hidden;
            width: 220px;
            padding-right: 40px;
            
            @media screen and ( max-width: $smartphone_portrait + px ) {
                width: 140px;
                padding-right: 20px;
            }
            
            a {
                display: block;
                background-color: $c-blue;
                overflow: hidden;

                &:hover {
                    
                    img {
                        opacity: .2;
                        transform: scale3d(1.1,1.1,1);
                    }
                }
            }
        }
        
        dd {
            @extend %flex;
            @extend %flex-space-between;
            @extend %flex-wrap;
            flex: 1;
            flex-direction: column;            
        }
        
        p {
            font-size: rem(14);
        }
        
        .o-btn {
            align-self: flex-start;
        }
        
        .o-header {
            margin-bottom: 20px;

            &__third {
                margin-bottom: 10px;
                
                @media screen and ( max-width: $smartphone_portrait + px ) {
                    font-size: rem(14);
                }
            }
        }
    }
}


