.c-newspost {

    .o-header {
        margin-bottom: 40px; 
        
        &__primary {
            margin-bottom: 10px;
        }
        
        p {
            font-size: rem(14);
        }       
    }
    
    figure {
        margin-bottom: 40px;
        
        img {
            margin-bottom: 10px;
        }
    }

    figcaption {
        font-size: rem(14);
    }
    
    &__article {
        p {
            margin-bottom: 2em;
        }
    }
    
    &__content {
        @extend %flex;
        @extend %flex-wrap;
        
        /*
@media screen and ( max-width: $base + px ) {
            padding: {
                left: 10px;
                right: 10px;
            }
        }
*/
    }
    
    
    &__left {
        width: grid(880, $base - 20);        
        
        @media screen and ( min-width: $tablet + 1px ) {
            margin-right: grid(40, $base - 20);
        }
        
        @media screen and ( max-width: $tablet + px ) {
            width: 100%;
        }
        
        article {
            @media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
                padding-left: grid(100, $tablet);
                padding-right: grid(100, $tablet);
            }
        }
    }
    
    &__newest {        
        li {
            margin-top: 20px;
            padding: 20px 0;
            border-top: 1px solid $c-blue;
        }

        .o-header {
            margin-bottom: 20px;
            
            &__third {
                margin-bottom: 10px;
            }
        }
    }
    
    &__right {
        width: grid(260, $base - 20);
        padding-top: 20px;
        
        @media screen and ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
            padding-right: 10px;
        }
        
        @media screen and ( max-width: $tablet + px ) {
            width: 100%;
        }
        
        @media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
            padding-left: grid(100, $tablet);
            padding-right: grid(100, $tablet);
        }

    }
}
