.c-partners {
    
    .o-header {
        margin-bottom: 150px;
    }
    
    &__content {
        @extend %flex;
    }
    
    &__info {
        @extend %abs;
        right: 0; top: 0;
        width: 50%;
        padding: 90px 10px;
    }
    
    &__item {
        width: 25%;
        padding-right: 60px;
    }
    
    &__logo {
        @extend %rel;
        width: 170px;
        height: 110px;
        margin-bottom: 20px;
        
        &:after {
            background-color: $c-blue;
        }
    }
    
    &__text {
        font-size: rem(14);
    }
}