.c-what {
    @extend %rel;
    background-color: $c-navy;
    padding-bottom: 75px;
    color: white;
    
    @media screen and ( max-width: $smartphone_portrait + px ) {
        padding-bottom: 0;
    }
    
    &__content {
        @extend %flex;
        @extend %flex-wrap;
        margin-bottom: 100px;
        padding-left: 100px;
                
        @media screen and ( max-width: $tablet + px ) {
            padding-left: grid(100, $tablet);
        }
        
        @media screen and ( max-width: $smartphone + px ) {
            padding-right: grid(100, $tablet);
        }
    }
    
    &__left {
        width: 740px;
        padding-right: 60px;
        
        @media screen and ( max-width: $base + px ) {
            width: grid(740, $base - 120);
        }
        
        @media screen and ( min-width: $tablet + 1px ) {
            border-right: 1px solid rgba(white, .6);
        }
        
        @media screen and ( max-width: $tablet + px ) {
            width: 100%;
        }
        
        @media screen and ( max-width: $smartphone + px ) {
            padding-right: 0;
        }
        
        
        i {
            font-size: rem(116);
            color: $c-blue;
        }
        
        dl {
            @extend %flex;
            @extend %flex-wrap;
            
            &:not(:first-of-type) {
                padding-top: 60px;
            }
            
            &:not(:last-of-type) {
                border-bottom: 1px solid rgba(white, .6);
            }
        }
        
        dt {
            width: 200px;
            padding-right: 20px;
            text-align: center;
            
            @media screen and ( max-width: $smartphone + px ) {
                width: 100%;
                padding: {
                    right: 0;
                    bottom: 40px;
                }
            }
            
        }
        
        dd {
            @media screen and ( min-width: $smartphone + 1px ) {
                flex: 1;
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                width: 100%;
                text-align: center;
            }
        }
        
        .o-header__secondary {
            margin-bottom: 10px;
        }
    }
    
    &__right {
        width: 340px;
        
        @media screen  and ( max-width: $base + px ) {
            width: grid(340, $base - 120);
        }
        
        @media screen and ( min-width: $tablet + 1px ) {
            padding-left: 60px;
        }
        
        @media screen and ( max-width: $tablet + px ) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }        
        
        dl {
            margin-bottom: 15px;
            color: $c-blue;
        }
        
        dd {
            font-size: rem(22);
            
            @media screen and ( max-width: $tablet + px ) {
                font-size: rem(18);   
            }
        }
        
        dt {
            line-height: 1;
            white-space: nowrap;
            font: {
                size: rem(80);
                weight: $bold;
            }
            
            @media screen and ( max-width: $base + px ) {
                font-size: get-vw-base(80);
            }
            
            @media screen and ( max-width: $tablet + px ) {
                font-size: rem(40);
            }
            
            span {
                @extend %anim-slow;
                opacity: 0;
                
                &.anim--loaded {
                    opacity: 1;
                }
            }
        }
        
        .c-what__row {
            @media screen and ( max-width: $tablet + px ) {
                width: 33%;
                
                &:not(:last-of-type) {
                    padding-right: 20px;
                }
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                width: 50%;
                text-align: center;
                
                &:last-child {
                    width: 100%;
                }
            }
        }
        
        .o-header__secondary {
            margin-bottom: 60px;
            
            @media screen and ( max-width: $tablet + px ) {
                width: 100%;   
            }
            
            @media screen and ( max-width: $smartphone + px ) {
                text-align: center;
            }
        }
    }
    
    &__row {
        padding-bottom: 60px;
            
        
    }
    
    .o-circle {
        @extend %abs;
            top: -80px; right: -80px;
//        right: -50%; top: -50%;
    }

    .o-header {
        margin-bottom: 140px;

        @media screen and ( max-width: $smartphone + px ) {
            margin-bottom: 70px;
        }
        
        &__secondary {
            font-weight: $bold;
        }
    }
}
