// Fonts

$axiforma:  'Axiforma', sans-serif;
$icons:		'icomoon';


// Default

$text:		$axiforma;



// Font weights

$book:              300;
$bold:              700;
$black:             900;

$z-index: (
	container:      90,
	top:           130,
);



// Default

$base-font-size:	18;
$base:				1200;


// RWD

$menu:	      			1440;
$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	480;
