<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>


    <%= require('html-loader!./includes/top.html') %>

    
	<div itemprop="mainContentOfPage" role="main" class="o-container">

        <div class="c-newsindex">
            <div class="o-wrap">
                <div class="o-section">
                
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--blue anim">Aktualności</h2>
                    </header>
                    
                    
                    <%= require('html-loader!./includes/filter.html') %>
                    
                    
                    <ul class="c-newsindex__list anim">
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
    
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="c-newsindex__item anim anim--up">
                            <dl>
                                <dt>
                                    <a href="aktualnosci-single.html">
                                        <img src=<%= require("./img/news-thumb.jpg") %> alt="news-thumb" width="180" height="135">
                                    </a>
                                </dt>
                                
                                <dd>
                                    <header class="o-header">
                                        <h4 class="o-header__third">Lorem ipsum dolor sit am adipisicing  dolor sit amet</h4>
                                        <p>26/01/2015</p>
                                    </header>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                    
                    
                    <%= require('html-loader!./includes/filter-pagination.html') %>
                </div>
            </div>
        </div>

        
        <%= require('html-loader!./includes/footer.html') %>
        

	</div>


</body>
</html>
