<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>


    <%= require('html-loader!./includes/top.html') %>


	<div itemprop="mainContentOfPage" role="main" class="o-container">

        <div class="c-edu u-first">
            <div class="o-wrap">
                <div class="o-section">
                
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--blue anim">Działania edukacyjne</h2>
                    </header>
                    
                    
                    <ul class="o-list">
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-bottle anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <h4 class="o-header__secondary">Gromadzimy i analizujemy</h4>
                                    <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est.                                    
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-bottle anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <h4 class="o-header__secondary">Gromadzimy i analizujemy</h4>
                                    <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est.                                    
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-stats anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <h4 class="o-header__secondary">Gromadzimy i analizujemy</h4>
                                    <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est.                                    
                                    </p>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-stats anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <h4 class="o-header__secondary">Gromadzimy i analizujemy</h4>
                                    <p>
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro quisquam est.                                    
                                    </p>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="c-kit anim">            
            <div class="o-wrap">
                <div class="o-section">
                
                    
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--navy anim">Przybornik</h2>
                    </header>
                    
                    
                    <div class="c-kit__content anim">
                    
                        <div class="c-kit__col c-kit__col--left">
                        
                            <h3 class="o-header__secondary">Linki:</h3>
                        
                            <ul class="c-kit__list">
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-arrow--right anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">BBMRI.pl</h5>
                                                <p>Lorem ipsum dolor ist amet</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-arrow--right anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">BBMRI.pl</h5>
                                                <p>Lorem ipsum dolor ist amet</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-arrow--right anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">BBMRI.pl</h5>
                                                <p>Lorem ipsum dolor ist amet</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-arrow--right anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">BBMRI.pl</h5>
                                                <p>Lorem ipsum dolor ist amet</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-arrow--right anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">BBMRI.pl</h5>
                                                <p>Lorem ipsum dolor ist amet</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    
                        <div class="c-kit__col c-kit__col--right">
                        
                            <h3 class="o-header__secondary">Pliki do pobrania:</h3>
                        
                            <ul class="c-kit__list">
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-download anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">Nazwa_pliku_2018.pdf</h5>
                                                <p>7.3 MB</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-download anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">Nazwa_pliku_2018.pdf</h5>
                                                <p>7.3 MB</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-download anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">Nazwa_pliku_2018.pdf</h5>
                                                <p>7.3 MB</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-download anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">Nazwa_pliku_2018.pdf</h5>
                                                <p>7.3 MB</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="#" class="c-kit__item anim">
                                        <dl>
                                            <dt>
                                                <i class="icon-download anim"></i>
                                            </dt>
        
                                            <dd>
                                                <h5 class="o-header__third">Nazwa_pliku_2018.pdf</h5>
                                                <p>7.3 MB</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <%= require('html-loader!./includes/footer.html') %>
        

	</div>


</body>
</html>
