<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>


    <%= require('html-loader!./includes/top.html') %>

    
	<div itemprop="mainContentOfPage" role="main" class="o-container">

        <div class="c-article bg-navy u-first">
            <div class="o-wrap">
                <div class="o-section">
                
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--blue anim">Kolekcje</h2>
                    </header>
                    
                    <article class="c-article__content anim anim--up">
                    
                        <h2 class="o-header__secondary">Lorem ipsum dolor sit amet</h2>
                        
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        </p>
                        
                        <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--white">Przejdź do zbiorów</a>
                    </article>
                </div>
                
                <div class="o-circles">
                    <div class="o-circles__row">
                        <div class="o-circles__cell"></div>

                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay1 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay2 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle o-circle--white anim anim--delay3 anim--fade"></i>
                        </div>
                    </div>
                    
                    <div class="o-circles__row">

                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay4 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay5 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay6 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay7 anim--fade"></i>
                        </div>
                    </div>
                    
                    <div class="o-circles__row">

                        <div class="o-circles__cell">
                            <i class="o-circle o-circle--white anim anim--delay8 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay9 anim--fade"></i>
                        </div>
                        
                        <div class="o-circles__cell"></div>
                        
                        <div class="o-circles__cell">
                            <i class="o-circle anim anim--delay10 anim--fade"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="c-article">
            <div class="o-wrap">
                <div class="o-section">
                
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--blue anim">Zasoby online</h2>
                    </header>
                    
                    <article class="c-article__content anim anim--up">
                    
                        <h2 class="o-header__secondary">Lorem ipsum dolor sit amet</h2>
                        
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
                        </p>
                        
                        <a href="aktualnosci-single.html" class="o-btn o-btn--blue o-btn--outline">Przejdź do zbiorów</a>
                    </article>
                </div>
                
                <div class="o-circles">
                    <ul class="o-circles__row">
                        <li class="o-circles__cell"></li>
                        
                        <li class="o-circles__cell"></li>

                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay1 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell"></li>
                    </ul>
                    
                    <ul class="o-circles__row">
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay2 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay3 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay4 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay5 anim--fade"></i>
                        </li>
                    </ul>
                    
                    <ul class="o-circles__row">

                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay6 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay7 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay8 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay9 anim--fade"></i>
                        </li>
                    </ul>
                    
                    <ul class="o-circles__row">
                        <li class="o-circles__cell"></li>
                        
                        <li class="o-circles__cell">
                            <i class="o-circle anim anim--delay10 anim--fade"></i>
                        </li>
                        
                        <li class="o-circles__cell"></li>
                        
                        <li class="o-circles__cell"></li>
                    </ul>
                </div>
            </div>
        </div>
        

        
        <%= require('html-loader!./includes/footer.html') %>
        

	</div>


</body>
</html>
