<!DOCTYPE html>
<html lang="pl-PL">
<%= require('html-loader!./includes/head.html') %>

<body style="overflow: hidden" itemscope="itemscope" itemtype="https://schema.org/WebPage">

    <div style="position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 120; background-color: white;" id="cover"></div>


    <%= require('html-loader!./includes/top.html') %>

    
	<div itemprop="mainContentOfPage" role="main" class="o-container">

        <div class="c-media">
            <div class="o-wrap">
                <div class="o-section">
                
                    <header class="o-header o-header--margin">
                        <h2 class="o-header__primary o-header__line o-header__line--blue anim">Oświadczenia</h2>
                    </header>
                    
                    
                    <%= require('html-loader!./includes/filter.html') %>
                    
                    
                    <ul class="o-list">
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-document anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <header class="o-header">
                                        <h4 class="o-header__secondary">To jest bardzo bardzo długi tytuł oświadczenia prasowego</h4>
                                        <p>23–03–18 r.</p>
                                    </header>
                                    
                                    <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-document anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <header class="o-header">
                                        <h4 class="o-header__secondary">To jest bardzo bardzo długi tytuł oświadczenia prasowego</h4>
                                        <p>23–03–18 r.</p>
                                    </header>
                                    
                                    <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-document anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <header class="o-header">
                                        <h4 class="o-header__secondary">To jest bardzo bardzo długi tytuł oświadczenia prasowego</h4>
                                        <p>23–03–18 r.</p>
                                    </header>
                                    
                                    <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                        
                        <li class="o-list__item">
                            <dl>
                                <dt>
                                    <i class="icon-document anim anim--rotate"></i>
                                </dt>
                                
                                <dd class="anim anim--up">
                                    <header class="o-header">
                                        <h4 class="o-header__secondary">To jest bardzo bardzo długi tytuł oświadczenia prasowego</h4>
                                        <p>23–03–18 r.</p>
                                    </header>
                                    
                                    <p>
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    
                                    <a href="aktualnosci-single.html" class="o-btn o-btn--outline o-btn--blue">Czytaj dalej</a>
                                </dd>
                            </dl>
                        </li>
                    </ul>

                    
                    <%= require('html-loader!./includes/filter-pagination.html') %>
                    
                    
                </div>
            </div>
        </div>

        
        <%= require('html-loader!./includes/footer.html') %>
        

	</div>


</body>
</html>
